.movieDetail_page{
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 50px;
  row-gap: 20px;
  grid-template-areas: 'poster title title'
                       'poster info info'
                       'poster addWatchlist .'
                       'similar similar similar';
}

.movieDetail_poster{
  grid-area: poster;
}

.movieDetail_title{
  grid-area: title;
}

.movieDetail_description{
  grid-area: info;
}

.movieDetail_similarList{
  grid-area: similar;
}

.movieDetail_addWatchlist{
  grid-area: addWatchlist;
}
